.not-found-container {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'roboto';
}
.not-found {
  margin-bottom: 20px;
}
.not-heading {
  color: #ffff;
  font-size: 20px;
  margin-bottom: 0px;
}
.not-para {
  color: #cbd5e1;
  font-size: 15px;
}
@media (min-width: 768px) {
  .not-found {
    width: 30%;
  }
  .not-para {
    font-size: 25px;
  }
  .not-heading {
    color: #ffff;
    font-size: 40px;
    margin-bottom: 0px;
  }
}
