.jobs-container {
  background-color: black;
  background-size: cover;
  min-height: 100vh;
  padding-left: 0px;
  margin-left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
