.profile-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  font-family: 'roboto';
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.jobs-container {
  background-color: black;
  background-size: cover;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.unordered-list {
  padding-left: 0px;
  margin-left: 0px;
}
.profile-img {
  width: 32px;
  margin-top: 10px;
}
.profile-heading {
  font-size: 12px;
  color: #6366f1;
}
.search-container {
  display: flex;
  align-items: center;
}
.search-container-large {
  display: none;
}

.search-bar {
  background: transparent;
  border: 2px solid #7e858e;
  width: 100%;
  border-right: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: 20px;
  height: 30px;
  color: #fff;
}
.search-btn {
  background-color: #202020;
  border: 2px solid #7e858e;
  border-left: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  outline: none;
  height: 30px;
  display: flex;
  align-items: center;
  width: 40px;
}

.search-icon {
  color: white;
  font-size: 18px;
  margin-left: 5px;
}
.short-bio {
  color: #64748b;
  font-size: 10px;
  margin-bottom: 10px;
}
.type-employment {
  color: #f8fafc;
  font-size: 12px;
  font-family: 'roboto';
  margin-top: 20px;
}
.checkbox-container {
  padding-left: 0px;
}
.radio-container {
  padding-left: 0px;
  margin-left: 0px;
}
.label {
  color: #cbd5e1;
  font-size: 10px;
}
.checkbox-li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.radio-li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.failure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'roboto';
}
.failure-view {
  width: 250px;
}
.failure-heading {
  color: #fff;
  font-size: 10px;
  text-align: center;
}
.failure-para {
  color: #cbd5e1;
  font-size: 10px;
  text-align: center;
  margin-top: 0px;
}
@media (min-width: 768px) {
  .failure-view {
    width: 550px;
    margin-top: 40px;
  }
  .failure-para {
    color: #cbd5e1;
    font-size: 15px;
  }
  .failure-heading {
    font-size: 40px;
  }
  .side-container {
    width: 300px;
  }
  .failure-container {
    width: 1200px;
  }
  .search-container {
    display: none;
  }
  .search-bar {
    height: 40px;
    width: 40%;
    color: #fff;
  }
  .search-container-large {
    display: flex;
    align-items: center;
  }
  .search-btn {
    height: 40px;
  }
  .jobs-container {
    display: flex;
    flex-direction: row;
    padding: 40px;
  }
  .large-side-container {
    width: 30%;
    margin-right: 30px;
  }
  .profile-container {
    width: 300px;
    padding-left: 15px;
    margin-bottom: 20px;
  }
  .profile-img {
    width: 48px;
    margin-top: 15px;
  }
  .profile-heading {
    font-size: 20px;
  }
  .short-bio {
    font-size: 15px;
    margin-bottom: 20px;
  }
  .type-employment {
    font-size: 18px;
    margin-top: 28px;
    margin-bottom: 24px;
  }
  .label {
    font-size: 18px;
  }
  .checkbox {
    width: 28px;
  }
  .search-btn {
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search-bar {
    font-size: 20px;
  }
}
